.wrapper{
    display: grid;
    grid-template-rows: 90px 1fr;
    height: 100%;
}

.wrapper h1{
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 25px 25px;
    grid-template-areas: 
        "name"
        "news"
        "dt"
        "btn";
    grid-gap: 20px;
    height: 85%;
    width: 90%;
    margin: 40px auto;
}

.input{
    background-color: rgb(64,68,75);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    outline: none;
    resize: none;
}

.name{
    grid-area: name;
    align-self: center;
}
.news{
    grid-area:  news;
}
.datetime{
    grid-area: dt;
    align-self: center;
    margin: 0;
}
.btn{
    grid-area: btn;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}
.btn{
    margin-right: 10px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover{
    background-color: rgb( 75, 183, 141 );
    cursor: pointer;
}

.title h1{
    margin: 0 0 5px 0;
    font-size: 25px;
    color: #acacac;
}

.title{
    border-bottom: #20222580 solid 2px;
    text-align: center;
    padding-top: 40px;
    color: #acacac;
    background-color: #36393f;
    height: calc(100%-40px);
}