.wrapper{
    grid-area: header;
    display: grid;
    grid-template-rows: 20px 35px 35px;
    grid-template-areas: 
        "title"
        "count"
        "icon";
    grid-gap: 5px;
    justify-items: center;
    align-self: center;
    color: rgba(172, 172, 172);
    width: 100%;
    padding: 35px 0;
}

.title{
    text-align: center;
    grid-area: title;
    font-size: 16px;
    align-self: flex-end;
    margin: 0;
}

.count{
    align-self: flex-start;
    grid-area: count;
    font-size: 35px;
    margin: 0;
}

.icon{
    align-self: flex-start;
    grid-area: icon;
    height: 35px;
    margin: 0;
}