/* .Cal__MonthList__root {
    color: #acacac;
    background-color: #36393f !important;
}

.Cal__Month__rows{
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 50%,#00000046) !important;
}


.Cal__Month__row.Cal__Month__partial:first-child li:first-child {
    box-shadow: 0 -1px 0 #20222580, inset 1px 0 0 #20222580 !important;
}

.Cal__Month__row:first-child li {
    background-color: #36393f !important;
    box-shadow: 0 -1px 0 #20222580 !important;
}

.Cal__Month__row:nth-child(2) {
    box-shadow: 0 -1px 0 #20222580 !important;
}

.Cal__Header__dateWrapper.Cal__Header__day {
    height: 22px !important;
    font-size: 20px !important;
    line-height: 20px !important;
} */

.cal {
    border: 1px solid #202225 !important;
    background-color: #40444b !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    border-bottom-color: #40444b !important;
}

.react-datepicker__header {
    background-color: #2f3136 !important;
    border-bottom: 1px solid #202225 !important;
}

.cal * *{
    color: #acacac !important;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

div:active, div:focus {
    outline: none;
}
div::-moz-focus-inner {
    border: 0;
}