.wrapper{
    display: grid;
    grid-template-rows: 110px 170px 1fr;
    grid-template-areas:
        "title"
        "top"
        "bottom";
    height: 100%;
}

.title{
    grid-area: title;
    border-bottom: #20222580 solid 2px;
    text-align: center;
    padding-top: 40px;
    color: #acacac;
    background-color: #36393f;
    height: calc(100%-40px);
}

.title h1{
    margin: 0 0 5px 0;
    font-size: 25px;
}

.title h2{
    margin: 0;
    font-size: 16px;
}

.top-3{
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: column;
    background-color: #36393f;
}

.cell{
    border-right: #20222580 solid 1px;
}

.cell.cell-last{
    border-right: none;
}

.bottom{
    grid-area: bottom;
    display: grid;
    grid-template-rows: 60px 60px 1fr;
    justify-items: center;
}

.graphic{
    height: 100%;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
} 

.calendar input{
    background-color: #40444b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    outline: none;
    resize: none;
}

.bottom-title{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-self: end;
    padding: 25px;
    font-size: 17px;
    color: #acacac;
}

.bottom-title a{
    margin: 0 10px;
    color: #4a548e;
}

.bottom-title a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #acacac;
}

.bottom-title a.active{
    color: #acacac;
}





