.wrapper{
    display: grid;
    grid-template-columns: 5% 200px 1fr 100px 5%;
    grid-template-areas: ". logo nav exit .";
    align-items: center;
    background-color: rgb(32,34,37);
    height: 100%;
}

.logo{
    grid-area: logo;
    justify-self: center;
}

.logo img{
    height: 40px;
}

.nav{
    grid-area: nav;
    justify-self: start;
    height: 100%;
}

.exit{
    grid-area: exit;
    justify-self: end;
    height: 100%;
}

.item{
    color: white;
    font-size: 18px;
    font-weight: bold;

    border: none; 
    outline: none;
    background: none;

    padding: 0 20px;
    height: 100%;
}

.item:hover{
    background-color: rgb(47,49,54);
    cursor: pointer;
}

.active .item{
    background-color: rgb(47,49,54);
}