.wrapper{
    height: 100%;
    background-color:#2f3136;
}


.item{
    font-size: 16px;
    border: none; 
    outline: none;
    background: none;
    color: #acacac;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    text-align: start;
    font-weight: bold;
}

.item:hover{
    background-color: rgb(54,57,63);
    cursor: pointer;
}

.active .item{
    background-color: rgb(54,57,63);
}