.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "title"
        "list";
    height: 100%;
}

.title{
    padding: 40px 60px;
    grid-area: title;
    background-color: rgb(54,57,63);
}

.list{
    grid-area: list;
    padding: 10px 60px;
    overflow: auto;
    height: calc(100%-10px);
}
