.app-wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-areas: 
        "header"
        "body";
    background-color: rgb(29, 30, 34);
    
}

.app-header{
    grid-area: header;
}

.app-body{
    display: grid;
    grid-template-columns: 5% 200px 1fr 5%;
    grid-template-areas: 
        ". navbar content .";
    
}

.app-navbar{
    grid-area: navbar;
}

.app-content{
    overflow: auto;
    grid-area: content;
    background-color: rgb(32,34,37);
}

::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: rgb(29, 30, 34);
}

::-webkit-scrollbar
{
	width: 12px;
    background-color: rgb(29, 30, 34);
}

::-webkit-scrollbar-button
{
    height: 5px;
    background-color: rgb(29, 30, 34);
    box-shadow: none;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    border: rgba(255, 255, 255, 0.3) solid 1px;
    background-color: rgb(32,34,37);
}



::-webkit-scrollbar-thumb:hover
{
    background-color: rgb(40,42,45);
}